@page
@using NewFoodie.Services.Interfaces;
@inject IRecipeService RecipeService;
@model NewFoodie.Areas.Identity.Pages.Account.Manage.CreateNewRecipeModel
@{
    ViewData["Title"] = "New Recipe";
    //ViewData["ActivePage"] = ManageNavPages.CreateNewRecipe;
}

<div class="col-md-4">
    <h3> Create New Recipe</h3>
    <form asp-action="Create" method="post" style="margin-top: 3vh">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Recipe.Name" class="control-label"></label>
            <input asp-for="Recipe.Name" class="form-control" />
            <span asp-validation-for="Recipe.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>        
    </form>

    <a asp-page="./CheckMyRecipes">Back to List</a>
</div>