@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
   
<p>
        Please check your email to confirm your account.
</p>

<h7 style="color:blue"> Note: If you don't receive the email, please check if you enter the correct email at the registration page.</h7>